<%# banner %>
<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
   <%# carousel %>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "cinema1.jpeg", width: 600, height: 400 %>
        </div>
        <div class="carousel-item">
          <%= image_tag "cinema2.jpeg", width: 600, height: 400 %>
        </div>
        <div class="carousel-item">
          <%= image_tag "cinema6.jpeg", width: 600, height: 400 %>
        </div>
        <div class="carousel-item">
          <%= image_tag "cinema7.jpeg", width: 600, height: 400 %>
        </div>
        <div class="carousel-item">
          <%= image_tag "cinema8.jpeg", width: 600, height: 400 %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>
</div>

<%# list-card %>
<div class="container py-2">
  <div class="d-flex align-items-center mr-5 mb-3">
    <h3 class="title mr-3"> All My Lists (<%= @lists.length %>) </h3>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-4 ">
        <div class="mt-2 ml-3 mb-3 mr-3">
          <%= link_to list_path(list), class:'text-decoration-none' do %>
            <% if list.photo.attached? %>
              <div class="card-category" data-aos="zoom-in" style="background-image: url('<%= cl_image_path list.photo.key %>')">
                <%= list.name %>
              </div>
            <% else %>
              <div class="card-category" data-aos="zoom-in">
                <%= list.name %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
