<div class="banner">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "cinema1.jpeg", class: "car-img" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "cinema2.jpeg", class: "car-img" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "cinema6.jpeg", class: "car-img" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "cinema7.jpeg", class: "car-img" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "cinema8.jpeg", class: "car-img" %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <%= form_tag movies_path, method: :get do %>
    <div class="search">
      <%= text_field_tag :query, params[:query], class: "index-search", placeholder: "Search Movie" %>
      <%# <%= submit_tag "Search", class: "btn btn-outline-light mr-3" %>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="index-title">
    <h3 class="list-title"> All My Lists (<%= @lists.length %>) </h3>
    <div class="buttons">
      <%# <%= link_to "My list", lists_path, class: "my-list" %>
      <%= link_to "New list", new_list_path, class: "new-list" %>
    </div>
  </div>

  <div class="lists">
    <% @lists.each do |list| %>
      <%= link_to list_path(list), class:'text-decoration-none' do %>
        <% if list.photo.attached? %>
          <div class="list-card" data-aos="zoom-in" style="background-image: url('<%= cl_image_path list.photo.key %>')">
            <%= list.name %>
          </div>
        <% else %>
          <div class="list-card" data-aos="zoom-in">
            <%= list.name %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
