<nav class="navbar navbar-dark navbar-expand-lg">
  <%= link_to "ALL THAT MOVIE", root_path, class: "nav-link" %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <%= form_tag movies_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a movie" %>
      <%= submit_tag "Search", class: "btn btn-outline-light mr-3" %>
    <% end %>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "My list", lists_path, class: "btn btn-outline-light mr-3" %>
      </li>
      <li class="nav-item mr-3">
        <%= link_to "New list", new_list_path, class: "btn btn-outline-light" %>
      </li>
    </ul>

  </div>

</nav>
